n8n/Workflow 1 - Subscription Manager.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        16
      ],
      "id": "d27efa50-f4ff-4ec3-9816-1c75a35ee9e3",
      "name": "Telegram Trigger",
      "webhookId": "947b7b57-65a3-4fe7-8891-ac5ee6ca23dc",
      "credentials": {
        "telegramApi": {
          "id": "2Izdb1Nh53OzgsTq",
          "name": "OLJ Alert Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f9386f9-2317-4247-86b1-b6790d04315c",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "=keywordsub",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "7e11900b-bd24-411a-9e22-1d46cf861b3d",
      "name": "If keywordsub"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4642ec3f-842c-4af6-8d7a-78d56e1521db",
              "leftValue": "={{ $json.message.text.replaceAll('/keywordsub', '').trim().split(',').length<=3 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "20f9b997-eb18-4638-87ef-1f3feddc016d",
      "name": "If keywordsub <= 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcdbf512-0c4f-4005-9258-29650d5d5e49",
              "name": "keywordsub",
              "value": "={{ $json.message.text.replaceAll('/keywordsub', '').trim().split(',').map(item => item.trim()) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -80
      ],
      "id": "96fda4b6-6a7b-4f8c-8a44-03a74085a757",
      "name": "Extract keywords"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_subscriptions",
          "mode": "list",
          "cachedResultName": "user_subscriptions"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": 0,
            "chat_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1712,
        16
      ],
      "id": "df0eab69-3721-4f2f-9d5e-febc4be5fcb7",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ZzBIvq2za0U7odoL",
          "name": "job_alert_client"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cf973ea-3b40-4a0f-9f96-f461e073cd4f",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "7c24e635-4ecd-48d8-821a-c1274552dba6",
              "name": "keyword",
              "value": "={{ $json.keywordsub }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        16
      ],
      "id": "73ef25b0-b3c5-4dd0-99f1-abd81ccd0aa5",
      "name": "Prepare payload"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1104,
        0
      ],
      "id": "f5a769e4-cffc-4da0-950e-6cebedc1f526",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Delete previous keywords if exists",
        "height": 256,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -352
      ],
      "id": "6d9c0f42-f334-46f2-abab-86873de544e8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_subscriptions",
          "mode": "list",
          "cachedResultName": "user_subscriptions"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        -272
      ],
      "id": "feab3512-349f-4754-b5a1-0d0ae14982df",
      "name": "Delete table or rows",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ZzBIvq2za0U7odoL",
          "name": "job_alert_client"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add new keywords",
        "height": 256,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -64
      ],
      "id": "62af23c9-eccf-4e78-accb-6a87617d6642",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Notify user",
        "height": 256,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        -224
      ],
      "id": "f12787b8-30ec-404b-a7ed-6149aabccfdd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Loop Over Items').item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        -144
      ],
      "id": "65be60db-f444-43d1-9897-036f5f174db6",
      "name": "Send a text message",
      "webhookId": "56c71022-e284-4348-ad05-2c51554bebd4",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "2Izdb1Nh53OzgsTq",
          "name": "OLJ Alert Bot"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "keywordsub",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        -80
      ],
      "id": "ab28eeba-f42c-4579-9b7d-39f8956c3f6c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "403798b5-edde-4a88-b1ef-2fce5bcc81a3",
              "name": "message",
              "value": "=✅ **Subscription Updated**\n\nYour new keywords:\n• {{ $('Telegram Trigger').first().json.message.text.replaceAll('/keywordsub ', '').trim().split(',').map(k => k.trim()).join('\\n• ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        -144
      ],
      "id": "572111de-3ffd-48d3-be12-d124c11e0a2c",
      "name": "Set Payload",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Delete keywords and unsub",
        "height": 256,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        272
      ],
      "id": "61b245be-c482-480f-8775-81efe79e1c10",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_subscriptions",
          "mode": "list",
          "cachedResultName": "user_subscriptions"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        352
      ],
      "id": "6584551e-11d9-49b2-a061-8e4d318026a8",
      "name": "Delete table or rows1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ZzBIvq2za0U7odoL",
          "name": "job_alert_client"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        352
      ],
      "id": "3ccece0f-81c9-49c1-beb3-13d52aa261af",
      "name": "Send a text message1",
      "webhookId": "56c71022-e284-4348-ad05-2c51554bebd4",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "2Izdb1Nh53OzgsTq",
          "name": "OLJ Alert Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "403798b5-edde-4a88-b1ef-2fce5bcc81a3",
              "name": "message",
              "value": "=✅ **Unsubcribed**",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        352
      ],
      "id": "7cb52709-a2cc-4657-b467-7baea1adb79c",
      "name": "Set Payload1",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f9386f9-2317-4247-86b1-b6790d04315c",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "=/unsub",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        352
      ],
      "id": "e9108827-7fb2-493e-a6c9-aac3f46088fe",
      "name": "If unsub"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "425bfa05-fa1d-4c1c-bc77-e3b690206b30",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/stats",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stats"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9997c6d-872d-4fef-a204-92a936e917be",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/admin",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/keywordsub ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e4eda79c-e4cd-4faf-a753-4be1ca631976"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "keywordsub"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ea76fa5-aee5-4393-afc8-2608d7960bf0",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/unsub",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unsub"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true,
          "renameFallbackOutput": "fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -32
      ],
      "id": "28682329-d221-4be7-a6e1-51b3bcabd0bc",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Help users",
        "height": 256,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        640
      ],
      "id": "4059b746-739a-46e8-9590-42698b88da79",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        720
      ],
      "id": "1f286eb3-1492-43a1-b91e-74883faffe60",
      "name": "Send a text message2",
      "webhookId": "56c71022-e284-4348-ad05-2c51554bebd4",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "2Izdb1Nh53OzgsTq",
          "name": "OLJ Alert Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "403798b5-edde-4a88-b1ef-2fce5bcc81a3",
              "name": "message",
              "value": "=🪧 **Help is here, here's an example command:**\n\n/keywordsub virtual assistant, accountant, crm",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        720
      ],
      "id": "a935ef41-1128-46cf-a4a3-9e082d22aa95",
      "name": "Set Payload2",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Logging",
        "height": 256,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        944
      ],
      "id": "83789949-7070-49df-b428-599bb62d90d0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "tableId": "olj-alerts",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        1024
      ],
      "id": "3c274853-a91e-48d9-ab95-639843f6722d",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "JBYgDkM2pZ9KEN7X",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65bb8e15-b49c-45e4-8069-2b885527f905",
              "name": "first_name",
              "value": "={{ $json.message.from.first_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "286046e7-46c3-498b-8652-a9678c00aac7",
              "name": "last_name",
              "value": "={{ $json.message.from.last_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "3268d8b1-2cab-4525-b732-a228a3927adb",
              "name": "username",
              "value": "={{ $json.message.from.username ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "95f40429-8e93-4641-a6a0-635ed5165969",
              "name": "keywords",
              "value": "={{ $json.message.text ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "5a7f14e1-2701-44af-a300-fe520e8eeb36",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "3cdee262-ccac-4729-87be-9e7b6fa1d812",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1024
      ],
      "id": "771ebc6e-985a-4d6a-bc55-3acd38792f62",
      "name": "Set Payload3",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=**Too many keywords 🫨**",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        96
      ],
      "id": "ef9cff21-d2f8-4836-a9c9-1b752293200a",
      "name": "Send a text message3",
      "webhookId": "56c71022-e284-4348-ad05-2c51554bebd4",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "2Izdb1Nh53OzgsTq",
          "name": "OLJ Alert Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f9386f9-2317-4247-86b1-b6790d04315c",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "=admin",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "81ed0a10-8742-4857-b79f-9fc1b416b82c",
              "leftValue": "={{ $json.message.from.username }}",
              "rightValue": "johnlloyddev",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -176
      ],
      "id": "126f7db9-7a84-432b-bf7e-1da644ee1278",
      "name": "If admin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcdbf512-0c4f-4005-9258-29650d5d5e49",
              "name": "keywordsub",
              "value": "={{ $json.message.text.replaceAll('/keywordsub', '').trim().split(',').map(item => item.trim()) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -192
      ],
      "id": "fc67a1db-1652-44ab-91ca-ce11bdd40a6a",
      "name": "Extract keywords2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f9386f9-2317-4247-86b1-b6790d04315c",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "=stats",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "81ed0a10-8742-4857-b79f-9fc1b416b82c",
              "leftValue": "={{ $json.message.from.username }}",
              "rightValue": "johnlloyddev",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -368
      ],
      "id": "0178db62-c620-4f95-a668-8e5557fd10ae",
      "name": "If admin1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS count_job_postings\nFROM job_postings;\n\nSELECT COUNT(DISTINCT(chat_id)) AS count_user_subscriptions\nFROM user_subscriptions;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        -368
      ],
      "id": "1320a7ce-b2d7-426d-bd76-6ef5cb7ea63b",
      "name": "count_job_postings",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ZzBIvq2za0U7odoL",
          "name": "job_alert_client"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        -368
      ],
      "id": "51590420-d01a-4300-a3be-7d56456c8289",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=<b>📊 Stats</b> | 🧾 Jobs: <code>{{ $json.data[0].count_job_postings }}</code> • 👥 Subs: <code>{{ $json.data[1].count_user_subscriptions }}</code>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -368
      ],
      "id": "22cebc39-3d05-4658-a241-ca13f14e62ce",
      "name": "Send a text message4",
      "webhookId": "56c71022-e284-4348-ad05-2c51554bebd4",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "2Izdb1Nh53OzgsTq",
          "name": "OLJ Alert Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4aea32a-4027-46b2-b64d-5b88382c7e4c",
              "leftValue": "={{ $json.message.from.username }}",
              "rightValue": "johnlloyddev",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        1024
      ],
      "id": "d7ee1122-0211-4145-b187-f0eb4cf43d57",
      "name": "If not admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d127923-302d-45e5-aed8-6cdee41607e5",
              "leftValue": "={{ [].includes($json.message.from.id) }}",
              "rightValue": "={{ $json.message.from.id }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        -176
      ],
      "id": "2494529b-9c01-433e-af0a-1d36e56217d6",
      "name": "If banned"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If not admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "If banned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If keywordsub": {
      "main": [
        [
          {
            "node": "If keywordsub <= 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If keywordsub <= 3": {
      "main": [
        [
          {
            "node": "Extract keywords",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract keywords": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare payload": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows1": {
      "main": [
        [
          {
            "node": "Set Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If unsub": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If admin1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If keywordsub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If unsub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Payload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload3": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If admin": {
      "main": [
        [
          {
            "node": "Extract keywords2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract keywords2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If admin1": {
      "main": [
        [
          {
            "node": "count_job_postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "count_job_postings": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not admin": {
      "main": [
        [
          {
            "node": "Set Payload3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If banned": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f593b1bde7a656a109af29ca03677e894cc660fc016075f84ae5399c2f124339"
  }
}